body {
    padding-top: 60px;
    padding-bottom: 60px;
	
	/*
    color:#6B6854;
    font:14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	*/
	font-family:Arial, Helvetica, sans-serif; 
	color:#5f5f5f;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
.copyright_ {
	margin: 0px 0px;
	padding: 10px 10px;
	line-height: 1;
	border-radius: 5px;
	background: #F5F5F5 ;
}
.backToTop {
    display: block;
    width: 40px;
    height: 32px;
    font-size: 26px;
    line-height: 32px;
    font-family: verdana, arial;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 150px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}

.toTop {
	width:25px;
	height:25px;
	background:#555;
	background:rgba(85,85,85,0.3);
	position:fixed;
	bottom:80px;
	right:165px;
	text-align:center;
	cursor:pointer;
	border-radius: 5px;
	display:none
}
.toTop a {
	display:block;
	width:32px;
	height:24px;
	font-size:20px;
	line-height:24px;
	font-family:verdana,arial;
	color:rgba(0,153,153,0.8);
	text-decoration:none;
	background:0
}
.toTop a:hover {
	background:#3d5998
}

/* Google logo ÑÕÉ« */
.logo1 {
	color:blue
}
.logo2 {
	color:red
}
.logo3 {
	color:FFD700
}
.logo4 {
	color:blue
}
.logo5 {
	color:green
}
.logo6 {
	color:red
}