---
layout: default
---

<div class="well">
{%for post in site.posts %}
    {% unless post.next %}
		<legend><h4 style="color:red;">{{ post.date | date: '%Y' }}</h4></legend>
        <ul>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            </ul>
			</br>
            <legend><h4 style="color:red;">{{ post.date | date: '%Y' }}</h4></legend>
            <ul>
        {% endif %}
    {% endunless %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%m月%d日" }} - {{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
<script type="text/javascript">
		 $(document).ready(function(){
		    $("#archive").addClass("active").siblings().removeClass("active");
	     }); 
</script>
