<div class="navbar navbar-default navbar-fixed-bottom" style="padding-top: 0px;">
	<div class="footer text-center">
		<div class="container">
			</br>
			<p class="text-muted">
				&copy;{{ site.time | date: '%Y' }} ÂóÌï¼¼Êõ²©¿Í
				<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254006603'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254006603%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
			</p>
		</div>
	</div>
</div>

{% include disqus-counts.html %}
{% include analytics.html %}

</body>
</html>