</br>
</br>
</br>
</br>
<div class="navbar navbar-default navbar-fixed-bottom" style="padding-top: 0px;">
	<div class="footer text-center">
		<div class="container">
			</br>
			<p class="text-muted">
				&copy;{{ site.time | date: '%Y' }} {{ site.name }}
				&nbsp;&nbsp;<a href="{{ site.baseurl }}/friends.html">{{ site.friends }}</a>
				&nbsp;<a href="{{ site.url }}/feed.xml" title="RSS" target="_blank"><img src="{{ site.baseurl }}/images/rss.png"></a>
			</p>
		</div>
	</div>
</div>

{% include disqus-counts.html %}
{% include analytics.html %}

</body>
</html>