<h1>链接</h1>
<ul>
   <li><a href="http://diary.itmyhome.com/" target="_blank">麦田日记</a></li>
   <li><a href="http://book.itmyhome.com/" target="_blank">麦田读书</a></li>
   <li><a href="http://pdf.itmyhome.com/" target="_blank">PDF Book</a></li>
   <li><a href="http://pushu.me/" target="_blank">朴树日志</a></li>
   <li><a href="http://itmyhome.com/blog-wall/" target="_blank">程序员博客墙</a></li>
   <li><a href="http://itmyhome.com/konglimei/" target="_blank">蝴蝶飞舞</a></li>
   <li><a href="http://blog.itmyhome.com/lifeofpeace/" target="_blank">那些年</a></li>
   <li><a href="http://itmyhome.sinaapp.com/" target="_blank">Typecho博客</a></li>
   <li><a href="{{ site.baseurl }}/the-quiet-place.html" target="_blank">一个安静的地方</a></li>
   <li><a href="{{ site.baseurl }}/friends.html">更多链接...</a></li>
</ul>