<style type="text/css">
audio, canvas, video {
    display: inline-block;
    width: 240px;
	opacity:0.8;
}
</style>

<div class="sidebar well" style="text-align: center;padding: 16px;">
	<!-- <script charset="Shift_JIS" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_wh.js"></script> -->
	<!-- <audio src="http://blog.itmyhome.com/images/qingbaizhinian.mp3" loop="loop" controls="controls"></audio> -->
	<canvas id="canvas" style="width:100%;">当前浏览器不支持canvas，请更换浏览器后再试</canvas>
</div>
<script src="{{ site.baseurl }}/js/canvasTime.js"></script> 

<div class="sidebar well">
    <h1>最新文章</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>


<div class="sidebar well">
{% include tag-cloud.html %}
</div>
