{% include header.html %}
<style type="text/css">
		body {
			padding-top: 70px;
			padding-bottom: 70px;
		}
		
		.starter-template {
			padding: 40px 15px;
			text-align: center;
		}
		
		.address {
			background: #efb73e;
			color: #fff;
			padding: 10px 0;
		}
</style>
<div class="container">
	<div class="row cvheader">
		<div class="col-md-6">
			<h1 class="text-primary">
				程序员
			</h1>
			<p>
				<span class="glyphicon glyphicon-paperclip"></span> 生命本来就是一束耀眼的花火...
			</p>
			
		</div>

		<div class="col-md-3">
			<div class="row">

				<div class="col-lg-4 col-md-4 col-xs-4">
					<p id="contact" class="address text-center">
						联系
					</p>
				</div>

				<div class="col-lg-8 col-md-8 col-xs-8">
					<p>
						<span class="glyphicon glyphicon-envelope"></span> itmyhome@163.com
					</p>
					<p>
						<span class="glyphicon glyphicon-user"></span> 123456
					</p>
					<p>
						<span class="glyphicon glyphicon-road"></span> 北京市海淀区
					</p>
				</div>

			</div>
		</div>

		<div class="col-md-3">
			<p>
				<!-- 这里定义图片为响应式，并且添加圆角效果，以便保证图片在不同设备上都可以完美显示 //-->
				<img data-toggle="tooltip" data-placement="left" id="avatar" width="120px;" height="120px;"
					title="hello" class="img-responsive img-rounded"
					src="images/index/flower.jpg" alt="">
			</p>
		</div>
		
	</div>
</div>


<div id="container">
	 <div class="col-md-6 hidden-xs">
		 </br>
		 </br>
		 <div id="myskipper" style="height:300px;width:620px;">
			<div><canvas id="m_cnvWoozyClockPresentation"></canvas></div>
		 </div> 
	 </div>
	 <div class="col-md-6">
			{% for post in paginator.posts %}
			   {% if  post.codes != true %}
				<div class="col-md-12">
						<h3><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
						{% if site.comments == true and post.comments == true and site.disqus != '' %}
						  <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread">Comments</a></p>
						{% endif %}
						<div class="content"> 
							<p>{{ post.summary }}</p>
							<h5><a href='{{post.url}}' title='Read more...'>Read more...</a></h5>
						</div>
				</div>
			   {% endif %}
			{% endfor %}		
	 </div>  
</div>
<script type="text/javascript">
		 $(document).ready(function(){
			$('#contact').popover({
				placement:'bottom', 
				container: 'body',
				html:true, 
				content:'<p>QQ: 329795485</p><p>微博：weibo.com</p><p>微信：weixin.com</p>'
			});

			$("#contact").mouseover(function(){
			  $(this).css("cursor","hand");
			});
			
			//模拟时钟
		    $('#m_cnvWoozyClockPresentation').woozyclock( {
				    width : 630,
				    height : 250,
				    ticklength : 33,
				    maindtype : 3
			 });
	        // $("#myskipper").skippr(); 
	     }); 
  </script>
{% include footer.html %}
