{% include header.html %}
<style type="text/css">
		body {
			padding-top: 70px;
			padding-bottom: 70px;
		}
		
		.starter-template {
			padding: 40px 15px;
			text-align: center;
		}
		
		.address {
			background: #efb73e;
			color: #fff;
			padding: 10px 0;
		}
		.home-font {
			font-size: 22px;
		}
		
		/*因修改bootstrap.min.css  这里进行覆盖*/
		h1,.h1,h2,.h2,h3,.h3 {
			margin-top: 20px;
			margin-bottom: 10px
		}

		h4,.h4,h5,.h5,h6,.h6 {
			margin-top: 10px;
			margin-bottom: 10px
		}
		
</style>



<div id="container">
	 <div class="col-md-8">
			</br>
			{% for post in paginator.posts %}
			   {% if  post.codes != true %}
				<div class="col-md-12  blog-list-detail">
						<h4 class="home-font"><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4>
						{% if site.comments == true and post.comments == true and site.disqus != '' %}
						  <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread">Comments</a></p>
						{% endif %}
						<div class="content"> 
							<p>{{ post.summary }}</p>
							<h5><a href='{{post.url}}' title='Read more...'>显示更多</a></h5>
						</div>
				</div>
			   {% endif %}
			{% endfor %}		
	 </div>  
	  <div class="col-md-4">
			<div class="col-md-12">
				<div class="col-md-12">
					<div class="thumbnail">
					  <div class="caption">
						 <div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<h4 class="text-primary home-font">
										大道至简
									</h4>
									<p>
										<span class="fa fa-codepen fa-fw"></span> 生命本来就是一束耀眼的花火...
									</p>
								</div>
							</div>
						</div>
					   </div>
				    </div>
				</div>
			</div>
			</br>
			<div class="col-md-12">
				<div class="col-md-12">
					<div class="thumbnail">
					  <div class="caption">
							<div class="container-fluid">
								<div class="row">
								  <div class="col-md-6">
									 <h4 class="text-primary home-font">
										联系方式
									 </h4>
									 <p>
										<span class="fa fa-qq fa-fw"></span> 329795485
									 </p>
									 <p>
										<span class="fa fa-wechat fa-fw"></span> itmyhome
									 </p>
									 <p>
										<span class="fa fa-home fa-fw"></span> 北京市海淀区
									 </p>
								  </div>
								  <div class="col-md-6">
									 </br>
									 <img src="{{ site.baseurl}}/images/index.jpg" class="img-thumbnail" width="150px;" height="80px;">
								  </div>
								</div>
							</div>
					   </div>
				    </div>
				</div>	
			</div>
			</br>
			<div class="col-md-12">
				<div class="col-md-12">
					<div class="thumbnail">
						<div class="caption">
							<div class="container-fluid">
								<div class="row">
								     <div class="col-md-6">
										<h4 class="text-primary home-font">
											开源项目
										</h4>
										<p>
											<a href="http://blog.itmyhome.com/id_number_verify/" target="_blank">JS校验身份证号</a>
										</p>
										<p>
											<a href="http://itmyhome.com/countdown/" target="_blank">JS实现倒计时</a>
										</p>
										<p>
											<a href="http://blog.itmyhome.com/grumble/" target="_blank">Tooltip控件</a>
										</p>
										<p>
											<a href="http://itmyhome.com/clock/" target="_blank">HTML5时钟动画</a>
										</p>
								     </div>
								     <div class="col-md-6">
										<h4 class="text-primary home-font">
											友情链接
										</h4>
										<p>
											<a href="http://ifeve.com/" target="_blank">并发编程网</a>
										</p>
										<p>
											<a href="http://coolshell.cn/" target="_blank">酷壳-COOLSHELL</a>
										</p>
										<p>
											<a href="http://blog.it2048.cn/" target="_blank">极客导航</a>
										</p>
										<p>
											<a href="http://blog.seoui.com/" target="_blank">Home·in peach hub</a>
										</p>
										<p>
											<a href="http://www.longxianwen.net/" target="_blank">资料收藏夹</a>
										</p>
										<p>
										</p>
								     </div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
			</br>	
	 </div>
</div>
<script type="text/javascript">
		 $(document).ready(function(){
			$('#contact').popover({
				placement:'bottom', 
				container: 'body',
				html:true, 
				content:'<p>微博：<a target="_blank" href="http://weibo.com/itmyhome">麦田1900</a></p><p>微信：itmyhome</p>'
			});

			$("#contact").mouseover(function(){
			  $(this).css("cursor","hand");
			});
			
			//模拟时钟
		    $('#m_cnvWoozyClockPresentation').woozyclock( {
				    width : 630,
				    height : 250,
				    ticklength : 33,
				    maindtype : 3
			 });
	        // $("#myskipper").skippr(); 
	     }); 
  </script>
{% include footer.html %}
