{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well">
                <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%Y年%m月%d日" }} - {{ page.title }}</a></h1>
            {% if site.comments == true and page.comments == true and site.disqus != '' %}
                <p class="author"><a href="#disqus_thread">Comments</a></p>
            {% endif %}
            <div class="post-content">
            {{ content }}
            </div>
            {% if page.comments %}
            <div id="disqus_thread">
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
            {% endif %}
            </div>
			

          </div>
		 <div class="row">
		     <div class="col-xs-12 col-md-10"></div>
		     <div class="col-xs-6 col-md-2">
					<!-- JiaThis Button BEGIN -->
					<div class="jiathis_style">
						<a class="jiathis_like_tsina"></a>
					</div>
					<script type="text/javascript"
						src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
					<!-- JiaThis Button END -->
			 </div>
	 	 </div>
          <div class="pagination">
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">上一篇</a>
              {% endif %}
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">下一篇</a>
              {% endif %}
		  </div>
		    <!-- 多说评论框 start -->
			<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="http://itmyhome.com/{{ page.url }}"></div>
			<!-- 多说评论框 end -->
			<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
			<script type="text/javascript">
				var duoshuoQuery = {short_name:"itmyhome1900"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
			</script>
			<!-- 多说公共JS代码 end -->

        </div>
    </div>
</div>

{% include disqus-comments.html %}
{% include footer.html %}
<script type="text/javascript">
		 $(document).ready(function(){
		    $("#archive").addClass("active").siblings().removeClass("active");
	     }); 
</script>
